.roomCardContainer {
   background-color: #ffffff;
   padding: 1rem 1rem;
   border-radius: 0.4rem;
   border: none;
   margin-top: 0.5rem;
}

.roomCardContainer h6 {
   font-size: 0.675rem;
   color: var(--textColor);
   font-weight: 500;
}

.roomCardContainer h2 {
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 1;
   color: #000000;
}

.roomMenbers {
   display: flex;
   align-items: flex-start;
}

.roomMenbers > div > img {
   width: 45px;
   height: 45px;
   border-radius: 0.400rem;
}

.roomMenbers p {
   font-size: 0.975rem;
   font-weight: 400;
   line-height: 1;
   margin-bottom: 0.5rem;
   color: var(--textColor);
}

.roomMenbers > div:first-child {
   position: relative;
   margin-right: 2rem;
}

.roomMenbers > div:first-child > img:nth-child(2) {
   position:  absolute;
   left: 1rem;
   top: 1rem;
}
